version: '3.9'

services:
  backend:
    build: ./backend
    container_name: upload_backend
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./backend/data:/app/data
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: upload_frontend
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge