version: '3.8'

services:
  backend:
    build: ./backend
    container_name: r2_uploader_backend
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      # Mount folder 'data' untuk menyimpan download_counts.json
      - ./backend/data:/app/data
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: r2_uploader_frontend
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge